src/fourier_robot_descriptions/assets/meshes/**/* filter=lfs diff=lfs merge=lfs -text

# Declare binary files to prevent Git from changing their line endings
# and to ensure they are handled by Git LFS.
*.STL filter=lfs diff=lfs merge=lfs -text
*.stl filter=lfs diff=lfs merge=lfs -text
*.dae filter=lfs diff=lfs merge=lfs -text
*.obj filter=lfs diff=lfs merge=lfs -text
